@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", "Lexend Deca", sans-serif;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    height: 100vh;
    width: 100vw;
  }
  .main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
